@font-face {
    font-family: "roboto";
    src: url('Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

body{ 
    font-family: roboto; 
;}

.section.up {
    background-color: #1F2937;
    padding-bottom: 50px;
    
}
.section {
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    background-color: inherit;
    height: 100px;
    padding: 5px;
    color: #F9FAF8;
    justify-content: space-between;
}

.header .logo {
flex: 8 1 auto;
font-weight: bold;
font-size: 24px;
}

.header .link {
    flex: 2 1 0;
    font-weight: 300;
}

.hero {
    display: flex;
}

.hero .main{
flex: 1 1 0;

}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .text {
    Font-size: 18px;
    color: #E5E7EB;
}

.hero .main.right{
    display: flex;
    color: #E5E7EB;
    height: 200x;
    width: 400px;
    background-color: rgba(203, 201, 201, 0.5);
    opacity: 80;
    border: 5px red;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 10px;
    color: #F9FAF8;
    width: 100px;
    height: 35px;
    align-items: center; 
    justify-content: center;
    display: flex;
}
.bottom>.title{
    
    justify-self: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    color: rgb(99, 99, 99);
    width: 110px;
    text-align: center;
    font-size: 12px;

}

.square {
    border: 2px solid #3882F6 ;
    border-color: #3882F6;
    height: 105px;
    border-radius: 10%;
}