@font-face {
    font-family: "roboto";
    src: url('Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

body{ 
    font-family: roboto;
    margin: 0 
;}

.section.up {
    background-color: #1F2937;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}


.header {
    display: flex;
    background-color: inherit;
    height: 100px;
    padding: 5px;
    color: #F9FAF8;
    justify-content: space-between;
}

.header .logo {
flex: 8 1 auto;
font-weight: bold;
font-size: 24px;
}

.header .link {
    flex: 2 1 0;
    font-weight: 300;
}

.hero {
    display: flex;
}

.hero .main{
flex: 1 1 0;

}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .text {
    Font-size: 18px;
    color: #E5E7EB;
}

.hero .main.right{
    display: flex;
    color: #E5E7EB;
    height: 200x;
    width: 400px;
    background-color: rgba(203, 201, 201, 0.5);
    opacity: 80;
    border: 5px red;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 10px;
    color: #F9FAF8;
    width: 100px;
    height: 35px;
    align-items: center; 
    justify-content: center;
    display: flex;
}
.bottom>.title{
    
    justify-self: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;   
}

.card {
    color: rgb(99, 99, 99);
    width: 110px;
    text-align: center;
    font-size: 12px;

}

.square {
    border: 2px solid #3882F6 ;
    border-color: #3882F6;
    height: 105px;
    border-radius: 10%;
}

.bottom-quote {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-self: stretch;
    
}

.quote{
    
    padding-left: 100px;
    padding-right: 100px;
}
   

.quote-text{
    align-self: center;
    font-size: 29px;
    color: #1F2937;
    font-style: italic;
    font-weight: 250;
}
.quote.author{
    
    
    text-align: end;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    padding-right: 120px;
}

.call-to-action{
    background-color: #3882F6;
    display: flex;
    padding: 25px 60px;
    margin: 50px;
    border-radius: 5px;
    align-content: center;
    color: #F9FAF8;
    margin-top: 150px;
}

.sing-button{
    border: white solid 1px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    margin-left: 100px;
    padding: 5px 30px;
    font-size: 12px;
    font-weight: 700;
}

.footer {
    margin-top: 100px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    font-size: small;
    font-weight: 300;
    text-align: center;
}

